@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#top-menu {
    background-image: url(imagens/unsplash__dJCBtdUu74.svg);
    color:azure
}

#logo {
    margin-top: 50px;
    margin-left: 50px;
}

#menu-superior-title {
    margin-left: 150px;
    margin-top: 50px;
}

#text-superiormenu {
    margin-left: 150px;
    margin-top: 20px;
    padding-bottom: 100px;
}

#menu-informational {
    background-color: #eaece5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icon {
    margin: 50px 0 50px 100px;
}

.textmenu-icon {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Video */

#sessionvideo {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#titlevideo {
    color: #247ba0;
    margin-top: 50px;
}

#textvideo {
    display: flex;
    align-items: center;
}

#video {
    margin: 50px 25px 50px 100px;
}

/* Carousel */

#carousel {
    background-color: #247ba0;
    padding: 50px;
}

#title-carousel {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

#card-div {
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

.card {
    margin-left: 50px;
}

#left-arrow {
    display: none;
}

#samantha {
    display: none;
}

.arrow {
    margin-top: 25%;
    cursor: pointer;
}

.arrow:hover {
    transform: translateY(-7px);
    transition: 0.5s;
}

/* Form  */

#form{
    text-align: center;
}

#form-title{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input {
    width: 300px;
    height: 40px;
    background-color: #eaece5;
    margin: 15px;
    border: 0px;
    border-radius: 10px;
    padding-left: 10px;
}

button {
    background-color: #247ba0;
    height: 40px;
    width: 250px;
    color:#eaece5;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background-color: #13a4e2;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #255468;
    transition-duration: 0.5s;
}